body {
   /* background-color: #707175;
    background-image: linear-gradient(43deg, #707175 0%, #0c0c0c 46%, #d2cbbf 100%);
    */

    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


#nav_bar{
    background-color: none;
    overflow: hidden ;
}

#nav_bar a {
    float: right;
    color: #000;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    
}
#nav_bar a:hover{
    text-transform: capitalize;
    color: white;
}


.Profile{
    width: 80%;
    color: antiquewhite;
    text-align:start;

}

.col-md-4{
    display: flex;
    justify-content: center;
    place-items: center;

}
.Container{
    max-width: 800px;
    margin: auto;
    height: 80vw;

}
.My_data{
    padding: auto;
    color: antiquewhite;
    text-align: center;
}
